#continue {
  img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  .font-weight-normal {
    margin-bottom: 1rem;
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Simon Prast
 */
