#videogallery {
  .card {
    .card-body {
      padding: 0;

      .mask {
        background: transparentize($color: white, $amount: 1);
        transition: background 0.1s ease;
        cursor: pointer;

        &:hover {
          background: transparentize($color: white, $amount: 0.9);
        }
      }
    }
  }

  img {
    width: 100%;
  }

  .video-preview {
    bottom: 0;
    right: 0;
    z-index: 3;
    position: absolute;
  }

  .video-title {
    top: 0;
    width: 100%;
    position: absolute;
    color: white;
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Simon Prast
 */
