// SNEK
$snekDark: #24292e;
$snekGreen: #77bd43;

// Generic
$blue: #4285f4;
$secondary: #a6c;

// Themes
$themeAlphaHighlight: #a6c;
$themeAlphaHighlightText: #fff;
$themeAlphaBackground: #a6c;
$themeAlphaDefaultColor: #a6c;

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Simon Prast
 */
