$snekDark: #24292e;
$snekGreen: #77bd43;

/* Themes */
$themeAlphaHighlight: #a6c;
$themeAlphaHighlightText: #fff;
$themeAlphaBackground: #a6c;
$themeAlphaDefaultColor: #a6c;

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © Simon Prast
 */
