#search {
  .mx-2 {
    margin: 0 !important;
  }

  .md-form {
    margin: 0.4rem;
    padding: 0;

    input {
      padding-left: 0.4rem;
    }
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Simon Prast
 */
