#calendar2d {
  .col-months {
    max-width: 7.655%;
    flex: 0 0 7.655%;
  }
  svg {
    width: 100%;
    overflow: visible;
    rect {
      stroke-width: 3;
      stroke: #fafafa;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
        stroke-width: 1;
      }
      &:focus {
        outline: none;
        fill: #f44336;
      }
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © Simon Prast
 */
