.project-list {
  padding: 0;
  .col-md-6:nth-child(even) {
    padding-left: 0.15rem;
  }
  .col-md-6:nth-child(odd) {
    padding-right: 0.15rem;
  }
  .lead {
    font-weight: 400;
  }
  img {
    height: 24px;
    margin-right: 0.5rem;
    width: auto;
    border-radius: 50%;
    background: white;
  }
  .img-badge {
    border-radius: 0;
    max-width: 100%;
    height: auto;
  }
  li {
    cursor: pointer;
    margin-bottom: 0.3rem;
    color: #3b3b3b;
    list-style: none;
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.1s ease;
    padding: 1rem !important;
    align-items: center;
    i {
      width: 30px;
      text-align: center;
      padding-right: 0.5rem;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    .badge {
      box-shadow: none;
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © Simon Prast
 */
